<table class="table table-striped border">
    <thead>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Total Cost</th>
            <th>Date of Transaction</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Transactions)
        {
            <tr>
                <td>@item.ProductName</td>
                <td>@item.Quantity</td>
                <td>@($"{item.Price:C}")</td>
                <td>@item.DateOfTransaction</td>
            </tr>
        }
    </tbody>
</table>

<div class="mb-2 text-center">
    <strong>Total Amount Spent:</strong>
    $@Math.Round(Transactions.Sum(t => t.Price), 2)
</div>

@code {
    [Parameter] public List<TransactionListItem> Transactions { get; set; } = new();
}